@import url("https://fonts.googleapis.com/css?family=Raleway");
body {
  font-family: Raleway !important;
}

.modal-header {
  padding: 0px !important;
  position: relative;
}

.modal-header button.close > span:first-child {
  /*display: none;*/
  font-size: 50px;
  top; 10px;
  right: 40px;
}

.modal-header button.close:before {
  content: "\f00d";
  /*display: inline-block;*/
  display: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 30px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 15px;
  right: 15px;
}

.Modal-Body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.Modal-Body .profile-modal {
  min-width: 150px;
  max-width: 150px;
  width: 150px;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  border-radius: 50%;
  background-color: #AAA;
}

.Modal-Body .Top {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

.Modal-Body .Top span {
  display: block;
  padding: 0px !important;
  font-size: 25px;
}

.Modal-Body .Top :not(.profile-modal) {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.Modal-Body .Bottom {
  flex: 1;
}

.Modal-Body .Bottom div:first-child::before {
  content: " ";
  display: inline-block;
  margin-left: 40px;
}

@media all and (max-width: 600px) {
  .Modal-Body .Top {
    flex-direction: column;
    align-items: center;
  }
  .Modal-Body .Top .profile-modal {
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    height: 250px;
    min-height: 250px;
    max-height: 250px;
  }
}

.active-shadow-none:active {
  box-shadow: none !important;
}
